# discord bot token
token=MTM...

# client id of bot
clientId=1006168268128244361

# database credentials (IMPORTANT: MUST BE URL-SAFE)
db_password=password
db_username=admin

# database name
db_name=tags